#contactContainer {
    margin: 0;
    padding: 0;
    background: darkslategrey;
}

#formContainer {
    margin: 0 7em -2em 3em;
    border-radius: 0.3em;
    padding: 1em 5em;
    display: block;
    text-align: center;
}

#contactForm input {
    width: 37em;
    height: 2em;
    border-radius: 0.4em;
    margin-bottom: 1em;
    border: 1px solid rgba(255, 212, 19, 0.959);
    background: rgba(0, 142, 177, 0.05);
    color: white;
}

#contactForm textarea {
    border-radius: 0.4em;
    background: rgba(0, 142, 177, 0.05);
    border: 1px solid rgba(255, 212, 19, 0.959);
    color: white;
    font-family: helvetica;
}

#send {
    background: rgba(255, 212, 19, 0.959);
    border: none;
    border-radius: 0.2em;
    cursor: pointer;
}

#send:hover {
    background: chartreuse;
}

.contactTitle {
    color: rgb(233, 233, 247);
    font-size: 1.2em;
    font-family: helvetica;
}

#x {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
