#header {
    margin: 0.5em 1em 0 auto;
    text-align: right;
    color: black;
    font-family: helvetica;
    font-weight: bold;
    font-size: 1.8em;
}

#subhead {
    margin: 0 3em 0 auto;
    text-align: right;
    color: rgba(255, 0, 0, 0.795);
    font-family: helvetica;
    font-size: 0.8em;
}
