#me {
    text-align: center;
    margin: 0 7em 0 auto;
    border-right: 1px solid chartreuse;
}

#me img {
    width: 20%;
    margin: 3em auto 0 auto;
    border: 0.2em solid black;
    border-radius: 0.3em;
}

#bio {
    border-right: 1px solid chartreuse;
    margin-right: 7em;
    padding: 0 5em;
    text-align: center;
}

#bioText {
    font-size: 1.2em;
    padding: 2em;
    font-family: helvetica;
    color: rgb(233, 233, 247);
    background-color: rgba(0, 142, 177, 0.05);
    border-radius: 0.3rem;
    box-shadow: 0.5em 0.4em 0.4em rgba(0, 0, 0, 0.7);
}

#introLine {
    font-size: 1.5em;
}
