#homeContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 65vh;
    margin: 0;
    background: rgb(97, 85, 177);
}

img {
    height: 50vh;
    border: 0.3em solid black;
    border-radius: 0.3em;
}

#bioText {
    font-size: 1.2em;
    font-family: helvetica;
    color: black;
    width: 50%;
}

#introLine {
    font-size: 1.5em;
}

@media (max-width: 765px) {
    #homeContainer {
        justify-content: center;
        flex-direction: column;
        height: 125vh;
    }
    #bioText {
        margin-bottom: 2em;
        width: 80%;
    }
}
