#pageCont {
    margin: 0;
    padding: 0;
}

.projectContainer {
    margin: 0;
    padding: 1em 5em;
}

.project {
    background: rgba(219, 137, 61, 0.596);
    border-radius: 0.5em;
    padding: 1em 2em 2em 2em;
    /* overflow: auto; */
}

.project img {
    width: 20%;
    height: auto;
    margin: auto 0.5em 1.5em 0.5em;
    border-radius: 0.3em;
    opacity: 0.7;
}

.project img:hover {
    cursor: pointer;
}

.project p {
    margin: 1em 3em;
    color: linen;
    font: helvetica;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

.project h1 {
    color: linen;
    margin: 0;
    font-size: 8vw;
}

#projHead {
    margin: 0;
    text-align: center;
    font-family: tahoma;
    color: rgb(47, 45, 63);
    margin: 0.3em auto;
}

#projBtns {
    margin-left: 10em;
}

.btn {
    margin-right: 1em;
    background: rgb(84, 17, 240);
    color: linen;
    border: none;
    width: 5em;
    height: 2.5em;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 0.3em;
}

.btn:hover {
    animation-name: btnLinks;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@media (max-width: 678px) {
    #projHead {
        font-size: 20vw;
    }
    .project {
        padding: 0.5em 1em 1em 1em;
    }
    #projBtns {
        margin-left: 1em;
    }
}

@media (max-width: 552px) {
    .project {
        padding: 0.5em;
    }
    .project p {
        margin: 1em auto 1em auto;
    }
}

/* Animations */

@keyframes btnLinks {
    to {
        background: rgb(48, 9, 138);
    }
}
