.projectContainer {
    border-right: 0.1em solid chartreuse;
    margin: 1em 10em 0 auto;
    padding: 1em 5em;
}

.project {
    background: rgba(0, 142, 177, 0.05);
    border-radius: 0.3em;
    padding: 2em;
}

.project img {
    width: 20%;
    border-radius: 0.3em;
    opacity: 0.7;
}

.project img:hover {
    cursor: pointer;
}

.project p {
    margin: auto 3em;
    color: rgba(255, 255, 255, 0.623);
    font: helvetica;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

.project h1 {
    color: white;
}

#projBtns {
    margin-left: 10em;
}

.btn {
    margin-right: 1em;
    background: rgb(84, 17, 240);
    color: white;
    border: none;
    width: 5em;
    height: 2.5em;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 0.3em;
}

.btn:hover {
    animation-name: btnLinks;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

/* Animations */

@keyframes btnLinks {
    to {
        background: rgb(48, 9, 138);
    }
}
