#resumeContainer {
    margin: 0 7em 0 auto;
    padding: 1em 5em;
}

#resumeContainer h1 {
    text-align: center;
    color: white;
}

#resume {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 142, 177, 0.05);
    border-radius: 0.3em;
    padding: 2em;
    box-shadow: 0.5em 0.4em 0.4em rgba(0, 0, 0, 0.7);
}

iframe {
    width: 300%;
    height: 700px;
}
