#welcomeContainer {
    display: block;
    height: 100%;
}

h1 {
    margin: 0;
    padding: 0;
}

.name {
    font-size: 20rem;
    font-weight: bold;
    -webkit-text-stroke: 10px rgb(47, 45, 63);
    margin: -5.5rem auto 0 -1.8rem;
    font-family: tahoma;
    /* color: rgb(47, 45, 63); */
    color: rgb(255, 187, 0);
}

.name:first-child {
    margin-bottom: -7rem;
}

#nameExtFirst,
#nameExtLast {
    color: rgb(47, 45, 63);
    letter-spacing: 0.8rem;
}

#nameExtFirst {
    margin-top: 1.4rem;
    margin-bottom: 0;
}

#nameExtLast {
    margin-top: 7.5rem;
    margin-bottom: 0;
}

#nameAnimations {
    font-family: tahoma;
    font-weight: bold;
    position: relative;
    top: -30.7rem;
    font-size: 8rem;
}

@font-face {
    font-family: title-font;
    src: url(Shockwave.ttf);
}

#titleOne,
#titleTwo {
    position: relative;
    font-size: 5.5rem;
    font-family: title-font;
    color: linen;
    opacity: 75%;
    font-weight: bold;
}

#titleOne {
    margin: 0 0.5rem 10rem 25vw;
    letter-spacing: 0.5rem;
}

#titleTwo {
    margin: 0 0 0 0.5rem;
    letter-spacing: 0.5rem;
}

#scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -27em;
    font-size: 1rem;
    font-family: tahoma;
    font-weight: bold;
    color: snow;
    background-color: rgb(47, 45, 63);
    height: 2rem;
    width: 100vw;
}

@media (max-width: 765px) {
    #arrow {
        width: 20vw;
        height: 30vw;
        margin-top: 10em;
    }
}

@media (max-width: 556px) {
    #name {
        font-size: 20vw;
        margin: 1em 0 0.2em 0.2em;
    }
    #subhead {
        font-size: 8vw;
        text-align: left;
        margin: 1em auto 0 3em;
    }
}
