#header {
    color: rgba(255, 212, 19, 0.959);
    margin: 0.5em auto 0 0.5em;
    font-family: helvetica;
    font-weight: bold;
    font-size: 2em;
}

hr {
    width: 65%;
    margin: 0.3em auto auto 0;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 4em;
}
