nav {
    position: fixed;
    width: 10rem;
    height: 100%;
    top: 0;
    right: 0;
    min-height: 5em;
    background: rgba(0, 142, 177, 0.26);
    padding: 0;
    border-left: 1px solid rgb(0, 0, 0);
    backdrop-filter: blur(1.2em);
}

.nav-links {
    width: 50%;
    list-style: none;
}

.nav-links li {
    margin-bottom: 2em;
    color: rgb(255, 255, 255);
}

.link:hover {
    color: rgb(0, 216, 245);
}

img {
    margin: 1.5em auto 2em 1.5em;
    height: 12%;
}
