#resumeContainer {
    border-right: 0.1em solid chartreuse;
    margin: 0 10em 0 auto;
    padding: 1em 5em;
}

#resumeContainer h1 {
    text-align: center;
    color: white;
}

#resume {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 142, 177, 0.05);
    border-radius: 0.3em;
    padding: 2em;
}

iframe {
    width: 300%;
    height: 700px;
}
