nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5em;
    background: white;
    color: black;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
